


@keyframes mostrarArriba {
  0%{
    transform: translateY(60px);
  }
  100%{
    transform: translateX(0);
  }
}

.mostrar__arriba{
  animation: mostrarArriba 1s;
}

.animado{
  opacity: 0;
  transition: all 1s;
}

/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
html{
  scroll-behavior: smooth;
}
header{
  background-color: rgba(0,0,0,.8);
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
}
/* Variables */
:root{
    --letra-color: #ff9800;
    --naranja-oscuro:#ec8800;
    --blanco-color:#ffff;
    --gris-oscuro:#2c2c2c;
    --gris-claro:#474747;
}
.index{
    background: center fixed linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url("img/fondo/fondo1.jpg");
    background-size: cover;
    background-position: center ;
    background-attachment: fixed;
    height: 50em;
  }
.header__container{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.header__logo{
  max-width: 3rem;
  margin: -4  px;
}
.header__h1{
    text-align: center;
    color: var(--letra-color);
}
.header__ul{
    list-style: none;
    display: flex;
    align-items: center;
}
.header__a{
    text-decoration: none;
    color: var(--blanco-color);
    margin: 0 12px;
    font-weight: 400;
    transition: .5s;
}
.header__a:hover{
    color: var(--letra-color);
}
.flags{
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flags-items{
  width: 30px;
}
.flags-img{
  display: block;
  cursor: pointer;
  border-radius: 5px;
}
.seleccionado{
  color: var(--letra-color);
}
/* SECCION PRESENTACION*/
.presentacion{
    max-width: 1100px;
    height: 100vh; 
    margin: auto;
    color: var(--blanco-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.presentacion__bienvenida{
  font-size: 16px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.presentacion__h2{
  font-size: 40px;
  margin-bottom: 25px;
  text-align: center;
}
.presentacion__h2--span{
  font-size: 50px;
  color: var(--letra-color);
}
.presentacion__descripcion{
  max-width: 700px;
  margin: 25px auto;
  font-size: 25px;
  text-align: center;
}
@keyframes typing {
  from{ width: 0;}
}
@keyframes blink {
  60%{border-color: transparent;}
}
.presentacion__a {
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 20px 25px;
    border:2px solid #fff;
    border-radius: 50px;
    color: var(--blanco-color);
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
}
.presentacion__a:hover {
    background-color: var(--naranja-oscuro);
    border: 2px solid black;
}
.icono__nav{
    color: var(--blanco-color);
    display: none ;
}

/* SECCION TECNOLOGIAS*/
.tecnologias{
    margin: auto;
    padding: 30px 15px;
    background: var(--gris-claro);
    /* border-radius: 25%; */
}
.tecnologias .titulo__seccion{
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  color: var(--blanco-color);
  text-decoration: underline;
  text-decoration-color: #d3d3d3;
  text-decoration-thickness: 5px;
  margin: 1rem;
}
.tecnologias__contenedor{
  margin: 1rem;
}
.cartas__logo {
  display: flex;
  justify-content: center;
  margin: 2rem;

}
.cartas__img{
  height: 5rem;
  margin: 0.5rem;
  filter: grayscale(1);
}
.cartas__img:hover{
  filter: grayscale(0);
}
.cartas__img--wordpress{
  border-radius: 150px;
  background-color: var(--blanco-color);
}
.cartas__img--sql{
  border-radius: 10px;
  background-color: var(--blanco-color);
}

/* SECCION PORTAFOLIO*/
.portafolio{
    max-width: 1100px;
    padding: 50px 0;
    margin: auto;
}
.portafolio__titulo{
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: var(--gris-oscuro);
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}
.portafolio__fila{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}
.portafolio__proyecto{
    max-width: 450px;
    width: 480px;
    height: 220px;
    border: 1px solid #ffff;
    border-radius: 8px;
    margin: 0 10px;
    position: relative;
    overflow: hidden;    
}
.proyecto__img{
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    object-fit: cover;
    transition: .5s;
}
.portafolio__proyecto:hover .proyecto__img{
    filter: grayscale(0); 
}
.proyecto__info{
    position: absolute;
    left: 0;
    background-color: rgba(0,0,0,.8);
    color: var(--letra-color);
    width: 100%;
    padding: 10px;
    opacity: 0;
    bottom: -40px;
    transition: .5s;
}
.portafolio__proyecto:hover .proyecto__info{
    opacity: 1;
    bottom: 0;
}
.info__a{
    text-decoration: none;
    padding: 5px;
    font-size: 10px;
    display: inline-block;
    border:0.5px solid #fff;
    border-radius: 50px;
    color: var(--blanco-color);
    text-transform: uppercase;
    transition: .5s;
}
.info__a:hover{
    background-color: var(--naranja-oscuro);
    border: 1px solid black;
}
.info__creado{
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
}
.info__img{
    width: 20px;
}
.info__img--sap{
    width: 44px;
}
.info__img--wordpress{
  width: 30px;
  height: 30px;
  border-radius: 20px;
}

/* SECCION SOBRE MI*/

.sobremi{
    max-width: 1100px;
    margin: auto;
    padding: 50px 15px;
    color: var(--gris-oscuro);
    display: flex;
}
.sobremi__foto{
    max-width: 400px;
    margin-right: 80px;
}
.sobremi__img{
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    background-color: #f3f3f3; 
}
.sobremi__descripcion{
    margin: 0 40px;
}
.sobremi__titulo{
    font-size: 22px;
    text-transform: uppercase;
    color: var(--gris-oscuro);
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}
.sobremi__h2{
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 2px;
}
.sobremi__h2--span{
    color: var(--letra-color);
}
.sobremi__h3{
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
.sobremi__p{
    font-size: 14px;
    line-height: 25px;
    color: #565656;
    margin-bottom: 12px;
}
/* FOOTER */
.footer{
  background-color: var(--gris-claro);
  color: var(--blanco-color);
  text-align: center;
  padding: 30px 0   ;
}
.footer__a{
    text-decoration: none;
    color: var(--blanco-color);
    display: inline-block;
    margin: 5px;
    font-size: 26px;
}
/* MEDIAQUERY*/
@media screen and (max-width: 800px) {

  .redes{
  display: none;
  }
  .header__nav{
    display: none;
  }
  .responsive{
    display: block;
    background-color: rgba(0,0,0,.8);
    width: 100%;
    position: absolute;
    top: 72px;
    left: 0;
    padding: 10px 0;
  }
  .header__ul{
    display: block;
    text-align: center;
    transition: 0.5s;
    flex-direction: column;
  }
  .header__li{
    padding: 10px;
    margin: 5px 0;
    transition: 0.5s;
  }
  .header__h1{
    font-size: 17px;
}
  .icono__nav{
    display: block;
  }
  .presentacion__bienvenida{
      font-size: 16px;
      letter-spacing: 3px;
  }
  .presentacion__h2{
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline
  }
  .presentacion__h2--span{
    font-size: 25px;
  }
  .presentacion__descripcion{
    font-size: 16px;
    margin: 0;
  }
  .presentacion__a {
    margin: 20px;
    padding: 10px 17px;
    font-size: 16px;
  }
  .seleccionado{
    color: var(--letra-color);
  }
  .portafolio{
    padding: 50px;
  }
  .titulo__seccion{
    font-size: 17px;
    margin-bottom: 20px;
  }
  .portafolio__titulo{
    font-size: 17px;
    margin-bottom: 20px;
  }
  .sobremi__titulo{
    font-size: 17px;
    margin-bottom: 20px;
  }
  .portafolio__fila {
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 0;
  justify-content: center;
  }
  .portafolio__proyecto{
  margin: 3px;
  margin-top: 20px;
  max-width: 300px;
  }
 .proyecto__info{
    opacity: 1;
    bottom: 0;
  }
 .proyecto__img{
    filter: grayscale(0);
  }
  .cartas__logo{
    flex-wrap: wrap;
    margin: 1rem;
  }
  .cartas__img{
    filter: grayscale(0);
    height: 3.5rem;
  }
  .sobremi{
    padding: 50px 0;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column-reverse
  }
  .sobremi__descripcion{
    text-align: center;
  }
  .sobremi__titulo{
    font-size: 17px;
  }
  .sobremi__h2{
    font-size: 22px;
  }
  .sobremi__foto{
    margin: auto;
    max-width: 300px;
  }
}
